<a href="https://colab.research.google.com/github/43pratik/ML_lab/blob/main/Prac_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

df = pd.read_excel('sales_data.xlsx')


df['Tax (18%)'] = df['Price'] * 0.10

print("Updated DataFrame with 'Tax (10%)' column:")
print(df)

df.to_excel('sales_data_with_tax.xlsx', index=False)

print("\nNew column 'Tax (18%)' added and saved to 'sales_data_with_tax.xlsx'.")

Updated DataFrame with 'Tax (10%)' column:
   Customer ID  Gender  Age Product category  Price  Tax (18%)
0      CUST001    Male   34           Beauty    150       15.0
1      CUST002  Female   26         Clothing   1000      100.0
2      CUST003    Male   50      Electronics     30        3.0
3      CUST004    Male   37         Clothing    500       50.0
4      CUST005    Male   30           Beauty    100       10.0
5      CUST006  Female   45           Beauty     30        3.0
6      CUST007    Male   46         Clothing     50        5.0
7      CUST008    Male   30      Electronics    100       10.0
8      CUST009    Male   63      Electronics    600       60.0
9      CUST010  Female   52         Clothing    200       20.0
10     CUST011    Male   23         Clothing    100       10.0
11     CUST012    Male   35           Beauty     75        7.5
12     CUST013    Male   22      Electronics   1500      150.0
13     CUST014    Male   64         Clothing    120       12.0
14     CUST015  Female   42      Electronics   2000      200.0
15     CUST016    Male   19         Clothing   1500      150.0
16     CUST017  Female   27         Clothing    100       10.0

New column 'Tax (18%)' added and saved to 'sales_data_with_tax.xlsx'.